---

language: node_js

node_js:
  - 10.17.0

sudo: required

services:
  - docker
os:
- linux

dist: bionic

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
      - sourceline: 'ppa:torik-habib/inytags'
    packages:
      - libstdc++-5-dev
      - inytag

install:
  - npm i -g @elementaryos/houston

script:
  - houston ci
